.container {
  padding-bottom: 20px;
}

@media screen and (max-width: 758px) {
  .container {
    width: 650px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 300px;
  }
}
